<div class="container">

  <h1>Список пользователей</h1>

  <% if current_role == 'superadmin' %>
      <%= form_tag users_path, :method => 'get', :id => "users_search" do %>
          <p>
            Роль: <%= select_tag :role, options_for_select(User.roles, params[:role]), :prompt => 'Все' %>
            Партнёр: <%= select_tag :partner_id, options_from_collection_for_select(User.where(:role => 'partner'), 'id', 'surname', params[:partner_id]), :prompt => 'Все'  %>
            <%= submit_tag "Поиск", :name => nil %>
          </p>
      <% end %>
  <% end %>
  <%= link_to 'Новый пользователь', new_user_path %>
  <table>
    <thead>
    <tr>
      <th>№</th>
      <th>Логин</th>
      <th>Роль</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Партнёр</th>
      <th class="city">Города</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.login %></td>
          <td><%= user.role %></td>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td>
            <% if user.partner != nil %><%= user.partner.surname + ' ' + user.partner.name %>
            <% end %></td>
          <td class="city">
            <% if user.role == 'partner' || user.role == 'agent' %>
                <%= link_to 'Ред. Города', user %><br/>
                <% user.cities.each do |city| %>
                    <%= city.city %>
                <% end %>
            <% end %>
          </td>
          <td><%= link_to image_tag('edit-icon.png'), edit_user_path(user) %></td>
          <td><%= link_to image_tag('delete-icon.png'), user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>