<script script="text/javascript">
    $(function () {
        fillInCityKLADR();
        $('#client_meeting_date').add('#client_status_date').add('#client_transfer_date').datepicker({
            dateFormat: "dd/mm/yy",
            numberOfMonths: 3,
            showButtonPanel: true
        });
        $('#client_birth_date').datepicker({
            dateFormat: "dd/mm/yy",
            yearRange: "1957:2002",
            changeMonth: true,
            changeYear: true
        });

        $('#client_passport_date').datepicker({
            dateFormat: "dd/mm/yy",
            yearRange: "-30:+0",
            changeMonth: true,
            changeYear: true
        });

        $("form").on("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

        if ($('input.city_code').val() == '' && $('input.city').val() != '') {
            $('input.region').focusin();
            $('input.region').blur();
            $('input.city').focusin();
            $('input.city').blur();
        }

        //Проверяем сити-код при загрузке городов
        $('input.region').kladr({
            token: 'token',
            key: 'key',
            type: $.kladr.type.region,
            check: function (obj) {
                if (obj) {
                    $('input.region').css('color', 'black');
                } else {
                    $('input.region').css('color', 'red');
                }
            }
        });
        //Проверка города
        $('input.city').kladr({
            token: 'token',
            key: 'key',
            type: $.kladr.type.city,
            check: function (obj) {
                if (obj) {
                    $('input.city').css('color', 'black');
                    $('input.city_code').val(obj.id);
                } else {
                    $('input.city').css('color', 'red');
                }
            }
        });

        //Запрещаем исправлять
        <% if ['operator', 'admin'].include? current_role %>
        $('#client_partner_status').prop('disabled', true);
        $('#client_partner_comment').prop('disabled', true);
        $('#client_meeting_date').prop('disabled', true);
        $('#client_status_date').prop('disabled', true);
        $('#client_transfer_date').prop('disabled', true);
        <%end%>


        <% if ['agent', 'partner'].include? current_role %>
        $('#client_surname').prop('disabled', true);
        $('#client_name').prop('disabled', true);
        $('#client_patronymic').prop('disabled', true);
        $('#client_birth_date').prop('disabled', true);
        $('#client_phone').prop('disabled', true);
        $('#client_region').prop('disabled', true);
        $('#client_city').prop('disabled', true);
        $('#client_address').prop('disabled', true);
        $('#client_snils').prop('disabled', true);
        $('#client_operator_status').prop('disabled', true);
        $('#client_operator_comment').prop('disabled', true);
        $('#clien_sex').prop('disabled', true);
        $('#clien_passport_number').prop('disabled', true);
        $('#clien_passport_issued').prop('disabled', true);
        $('#clien_passport_date').prop('disabled', true);
        <%end%>

        <% if ['agent', 'partner', 'operator'].include? current_role %>
        $('#client_stage').prop('disabled', true);
        $('#client_user_id').prop('disabled', true);
        <%end%>

        $('form input').add('form select').add('form textarea').each(function () {
            if ($(this).prop('disabled') == true) {
                $(this).siblings('label').css('font-weight', 'normal');
            }
        });
    });
</script>

<%= form_for(@client, :html => {:class => 'form-client city_form', :style => 'margin: 0 auto; width: 800px;'}) do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
            <% @client.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="clearfix">
      <div class="left">
        <div class="js-form-address">
          <div class="field">
            <%= f.label :region, 'Регион' %>
            <%= f.text_field :region, :class => 'region' %>
          </div>
          <div class="field">
            <%= f.label :city, 'Город' %>
            <%= f.text_field :city, :class => 'city' %>
            <%= f.hidden_field :city_code, :class => 'city_code' %>
          </div>
          <div class="tooltip" style="display: none;"><b></b><span></span></div>
        </div>

        <div class="field">
          <%= f.label :surname, 'Фамилия' %>
          <%= f.text_field :surname %>
        </div>
        <div class="field">
          <%= f.label :name, 'Имя' %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :patronymic, 'Отчество' %>
          <%= f.text_field :patronymic %>
        </div>


        <div class="field">
          <%= f.label :snils, 'СНИЛС' %>
          <%= f.text_field :snils, :value => @client.snils.present? ? Snils.new(@client.snils).formatted : '' %>
        </div>

        <div class="field">
          <%= f.label :sex, 'Пол' %>
          <%= f.select :sex, options_for_select([['Пол', ''], ['Мужской', 'M'], ['Женский', 'F']], @client.sex) %>
        </div>

        <div class="field">
          <%= f.label :passport_number, 'Номер паспорта' %>
          <%= f.text_field :passport_number, :maxlength => '14' %>
        </div>

        <div class="field">
          <%= f.label :passport_issued, 'Кем выдан паспорт' %>
          <%= f.text_area :passport_issued %>
        </div>

        <div class="field">
          <%= f.label :passport_date, 'Дата выдачи паспорта' %>
          <%= f.text_field :passport_date %>
        </div>

        <div class="field">
          <%= f.label :birth_place, 'Место рождения' %>
          <%= f.text_area :birth_place %>
        </div>

        <div class="field">
          <%= f.label :birth_date, 'Дата рождения' %>
          <%= f.text_field :birth_date %>
        </div>
        <div class="field">
          <%= f.label :phone, 'Телефон' %>
          +7 <%= f.text_field :phone, :style => 'width:142px', :maxlength => '10' %>
        </div>
        <div class="field">
          <%= f.label :address, 'Адрес' %>
          <%= f.text_area :address %>
        </div>
      </div>
      <div class="right">


        <div class="field">
          <%= f.label :user_id, 'Оператор' %>
          <%= collection_select(:client, :user_id, User.where(:role => 'operator'), :id, :login, :prompt => 'Please select operator') %>
        </div>

        <div class="field">
          <%= f.label :stage, 'Этап' %>
          <%= f.select :stage, options_for_select(Client.sel_stage, @client.stage), {}, {:class => 'select-stage'} %>
        </div>
        <div class="field">
          <%= f.label :operator_status, 'Статус оператора' %>
          <%= f.select :operator_status, options_for_select(Client.sel_op_status, @client.operator_status), {}, {:class => 'select-op-status'} %>
        </div>
        <div class="field">
          <%= f.label :operator_comment, 'Комментарий оператора' %>
          <%= f.text_area :operator_comment %>
        </div>

        <div class="field">
          <%= f.label :status_date, 'Дата статуса' %>
          <%= f.text_field :status_date %>
        </div>

        <div class="field">
          <%= f.label :partner_status, 'Статус партнёра' %>
          <%= f.select :partner_status, options_for_select(Client.sel_ag_status, @client.partner_status), {}, {:class => 'select-op-status'} %>
        </div>

        <div class="field">
          <%= f.label :transfer_date, 'Дата переноса/перезвона' %>
          <%= f.text_field :transfer_date %>
        </div>

        <div class="field">
          <%= f.label :partner_comment, 'Комментарий партнёра' %>
          <%= f.text_area :partner_comment %>
        </div>
        <div class="field">
          <%= f.label :meeting_date, 'Плановая дата встречи' %>
          <%= f.text_field :meeting_date %>
        </div>

      </div>


    </div>
    <div class="actions">
      <%= f.submit 'Сохранить Клиента' %>
    </div>
<% end %>
